# git ignore file

### folders
packages/
bin/
obj/
node_modules/
.vs/


### files
*.DotSettings.user
*.csproj.DotSettings
*.csproj.user
*.xproj.user
*.suo
*.nupkg
*.nupkg.bak
*.targets
project.lock.json
NuGet.log